DB_USER=postgres
DB_NAME=teslo-shop
DB_PASSWORD=123456

AUTH_SECRET=""

# https://developer.paypal.com/dashboard ----> App&Credentials
NEXT_PUBLIC_PAYPAL_CLIENT_ID="L"
NEXT_SECRET_PAYPAL_KEY=""
#cloudinary----> https://console.cloudinary.com/
CLOUDINARY_URL=""


# POST
PAYPAL_OAUTH_URL=https://api-m.sandbox.paypal.com/v1/oauth2/token

#GET
PAYPAL_ORDERS_URL=https://api.sandbox.paypal.com/v2/checkout/orders
#Cuenta que simulara el pago, Testing-tools-->Sandbox account:
#Email:feliperuiz@gmil.com
#Password:12345678


MERCADOPAGO_ACCESS_TOKEN=""



# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL=""

TESTUSER400961477      Cr5cMb4eOo


TESTUSER315457583      PJPOERcsIc